main {
  margin-top: -1rem;
}


.carousel-inner img,video {
    width: 70%;
    height: 70%
}

#custCarousel .carousel-indicators {
    position: static;
    margin-top: 20px
}

#custCarousel .carousel-indicators>li {
    width: 100px
}

#custCarousel .carousel-indicators li img {
    display: block;
    opacity: 0.5
}

#custCarousel .carousel-indicators li.active img {
    opacity: 1
}

#custCarousel .carousel-indicators li:hover img {
    opacity: 0.75
}

.carousel-item img {
    width: 50%
}

div.heading {
    padding: 2rem 0;
    text-align: center;
    color: white;
    
}