
.wrapper h1.glitch {
  color: white;
  font-family: sans-serif;
  position: relative;
  padding: 0 30px;
}
.wrapper h1.glitch::before, .wrapper h1.glitch::after {
  padding: 0 30px;
  color: white;
  content: "MG";
  position: absolute;
  background: black;
  overflow: hidden;
  top: 0;
}
.wrapper h1.glitch::before {
  left: 3px;
  text-shadow: -2px 0 red;
  animation-name: glitch-animation-1;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: reverse-alternate;
}
.wrapper h1.glitch::after {
  left: -3px;
  text-shadow: -2px 0 blue;
  animation-name: glitch-animation-2;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinte;
  animation-direction: reverse-alternate;
}

.wrapper h1.glitch::after {
  text-shadow: -2px 0 rgb(0, 0, 0);
  animation-name: glitch-animation-2;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: reverse-alternate;
}

@keyframes glitch-animation-1 {
  0% {
    clip: rect(123px, 350px, 108px, 30px);
  }
  5% {
    clip: rect(54px, 350px, 80px, 30px);
  }
  10% {
    clip: rect(95px, 350px, 31px, 30px);
  }
  15% {
    clip: rect(52px, 350px, 56px, 30px);
  }
  20% {
    clip: rect(98px, 350px, 36px, 30px);
  }
  25% {
    clip: rect(55px, 350px, 140px, 30px);
  }
  30% {
    clip: rect(140px, 350px, 108px, 30px);
  }
  35% {
    clip: rect(11px, 350px, 51px, 30px);
  }
  40% {
    clip: rect(44px, 350px, 45px, 30px);
  }
  45% {
    clip: rect(60px, 350px, 115px, 30px);
  }
  50% {
    clip: rect(58px, 350px, 7px, 30px);
  }
  55% {
    clip: rect(127px, 350px, 70px, 30px);
  }
  60% {
    clip: rect(116px, 350px, 76px, 30px);
  }
  65% {
    clip: rect(62px, 350px, 7px, 30px);
  }
  70% {
    clip: rect(39px, 350px, 45px, 30px);
  }
  75% {
    clip: rect(88px, 350px, 101px, 30px);
  }
  80% {
    clip: rect(106px, 350px, 6px, 30px);
  }
  85% {
    clip: rect(81px, 350px, 59px, 30px);
  }
  90% {
    clip: rect(76px, 350px, 113px, 30px);
  }
  95% {
    clip: rect(125px, 350px, 49px, 30px);
  }
  100% {
    clip: rect(111px, 350px, 118px, 30px);
  }
}
@keyframes glitch-animation-2 {
  0% {
    clip: rect(59px, 350px, 95px, 30px);
  }
  5% {
    clip: rect(114px, 350px, 64px, 30px);
  }
  10% {
    clip: rect(33px, 350px, 4px, 30px);
  }
  15% {
    clip: rect(93px, 350px, 130px, 30px);
  }
  20% {
    clip: rect(46px, 350px, 66px, 30px);
  }
  25% {
    clip: rect(100px, 350px, 133px, 30px);
  }
  30% {
    clip: rect(94px, 350px, 140px, 30px);
  }
  35% {
    clip: rect(57px, 350px, 35px, 30px);
  }
  40% {
    clip: rect(36px, 350px, 37px, 30px);
  }
  45% {
    clip: rect(132px, 350px, 105px, 30px);
  }
  50% {
    clip: rect(132px, 350px, 21px, 30px);
  }
  55% {
    clip: rect(100px, 350px, 76px, 30px);
  }
  60% {
    clip: rect(126px, 350px, 89px, 30px);
  }
  65% {
    clip: rect(57px, 350px, 80px, 30px);
  }
  70% {
    clip: rect(150px, 350px, 35px, 30px);
  }
  75% {
    clip: rect(63px, 350px, 130px, 30px);
  }
  80% {
    clip: rect(46px, 350px, 129px, 30px);
  }
  85% {
    clip: rect(31px, 350px, 67px, 30px);
  }
  90% {
    clip: rect(144px, 350px, 59px, 30px);
  }
  95% {
    clip: rect(95px, 350px, 144px, 30px);
  }
  100% {
    clip: rect(54px, 350px, 63px, 30px);
  }
}
